.income-statement{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.net-inc{
  font-weight: bolder
}
/* ---------------------- */
.owner-equity-statement{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.OE-entries{
    display: flex;
    flex-direction: column;
}
/* ---------------------- */
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.balance-sheet{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.head{
    color: rgb(82, 31, 184);
}
.result{
    color: green;
}