.general-entry-container{
  width: 90%;
  padding: 1rem;
  margin: auto;
}

.entry{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:  250px 250px 250px 250px 250px  ;
  text-align: center;
  align-items: center;
  background-color: white;
}
h3{
  font-size: 2rem;
  text-align: center;
  align-items: center;
}
.ht{
  color: rgb(11, 116, 11);
  font-weight: bolder;
  font-size: 1rem;
}